{% extends "base.html" %}

{% load static %}
<!-- load wagtailcore_tags-->
{% load wagtailcore_tags wagtailimages_tags %}

<!-- add template -->
{% block body_class%}template-subscriberspage{% endblock%}

<!-- block content -->
{% block content %}
<div class="container">
  <div class="plain-bg">
    <div class="header">
      {% include "includes/header.html" %}
    </div>
  </div>
  <div class="blog-content">
    {{ page.intro|richtext }}
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
  </div>
</div>
{% endblock %}
